@import "tailwindcss";

@theme {
    --color-hero-bg: #1a1a1a;
    --color-linear-bg: linear-gradient(64deg, #0147ff 0%, rgba(1, 71, 255, 0) 100%);
    --color-speakers-bg: #0147ff;
    --color-speakers-gray: #dedee0;
    --text-medium-text: 1.375rem;
    --leading-medium: 136%;
}

body {
    @apply text-white;
}

.gradient__button {
    background: var(--color-linear-bg);
    @apply w-full font-medium justify-center mt-27 text-2xl text-white rounded-[6.25rem] flex items-center h-19 max-w-[20.875rem] gap-5 cursor-pointer;
}

@media (max-width: 75rem) {
    .gradient__button {
        @apply text-lg max-w-[15rem] max-h-14 mt-15;
    }
}
